:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color: #6d6d6d;
  --form-background: #f4f4f4;
  --black-text: #3c3c3c;
  --light-dark-text: #adadad;
  --background-purple: #e9d0fa;
  --main-purple: #a844f5;
}