
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {


  line-height: 1.5;


  --dark-text-color: #6d6d6d;
  --light-text-color: #e1e1fe;
  --light-white-text-color: #ffffff;
  --dark-black-text-color: #1f0f0f;
  --form-background: #f4f4f4;
  --black-text: #3c3c3c;
  --light-dark-text: #adadad;
  --background-purple: #e9d0fa;
  --main-purple: #a844f5;
  --light-background: #ffffff;
  --dark-background: #2b2b2b;
}

body {
  min-height: 100vh;
  width: 100%;

}